@import 'constants/colors.scss';

.time-tick-large-text {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: $gray;
  user-select: none;
  margin-left: 2px;
  @media (max-width: 700px) {
    font-size: 14px;
    bottom: -2px;
  }
}
