@import 'constants/colors.scss';

.week-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: max-content;
}

.week-picker-text {
  text-align: center;
  color: $primary-red;
  font-size: calc(clamp(20px, 2vw, 40px));
  user-select: none;
  width: 20vw;
}

.left-button {
  position: relative;
  top: 7px;
  right: 5px;
  height: 0px;
  width: 0px;
  border-bottom: calc(clamp(8px, 0.75vw, 15px)) solid transparent;
  border-top: calc(clamp(8px, 0.75vw, 15px)) solid transparent;
  border-right: calc(clamp(8px, 0.75vw, 15px)) solid $primary-red;
}

.right-button {
  position: relative;
  top: 7px;
  left: 5px;
  height: 0px;
  width: 0px;
  border-bottom: calc(clamp(8px, 0.75vw, 15px)) solid transparent;
  border-top: calc(clamp(8px, 0.75vw, 15px)) solid transparent;
  border-left: calc(clamp(8px, 0.75vw, 15px)) solid $primary-red;
}