@import 'constants/colors.scss';

.create-room-wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.info-wrapper {
  height: 20px;
  text-align: center;
}

.create-room-select {
  margin-top: 40px;
  width: calc(max(50%, 300px));
  margin-left: auto;
  margin-right: auto;
}
