$primary-dark: #1f5d91;
$primary: #356d9b;
$primary-light: #639bc9;
$primary-red: #4789bf;
$primary-blue: #457b9d9f;
$primary-white: #fff;

$primary-red-dark-shade: #e63939;
$primary-red-medium-shade: #e639477c;
$primary-red-light-shade: #e639471e;
$primary-red-mild-shade: #e639474e;
$gray: #6e6e6e;
$gray-opaque: #6e6e6ea7;
$gray-mild-opaque: #adadadbb;
$gray-mild: #adadad;
$gray-light: #cfcfcf;
$gray-light-opaque: #cfcfcf9c;
$gray-dark: #4c4c4c;
$white: #fff;
