@import 'constants/colors.scss';

.time-picker-wrap {
  display: flex;
  flex-direction: column;
  height: clamp(450px, 40vw, 550px);
  width: 80%;
  margin: 10px auto 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: $primary-white;
  box-shadow: 10px 10px 20px #0000009d, -1px -1px 10px #0000009d;
}

.time-picker-header {
  display: flex;
  flex: 1;
  border-radius: 20px 20px 0px 0px;
  background-color: $primary-red;
}

.header-day-div {
  flex: 1;
  position: relative;
  text-align: center;
}

.header-text {
  position: absolute;
  color: $primary-white;
  font-size: calc(clamp(20px, 2vw, 40px));
  bottom: 5px; 
  left: 0; 
  right: 0;
  user-select: none;
  text-shadow: -5px 3px 7px rgba(0,0,0,0.5);
}

.time-picker {
  flex: 6;
  display: flex;
  background-color: $primary-white;
  border-radius: 0px 0px 20px 20px;
}

div::-webkit-scrollbar {
  width: 5px;
}
 
div::-webkit-scrollbar-thumb {
  background-color: $primary-red;
  border-radius: 30%;
}