@import 'constants/colors.scss';

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.button {
  background-color: $primary-red;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 8px;
  color: $primary-white;
  box-shadow: 10px 10px 20px #0000009d, -1px -1px 10px #0000009d;
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  box-shadow: none;
}